In [7]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, ForeignKey, Date

In [8]:
stations_df = pd.read_csv('raw_data/hawaii_stations.csv')
measurements_df = pd.read_csv('raw_data/hawaii_measurements_clean.csv')

In [9]:
measurements_df.head()

       station        date      prcp  tobs
0  USC00519397  2010-01-01  0.080000    65
1  USC00519397  2010-01-02  0.000000    63
2  USC00519397  2010-01-03  0.000000    74
3  USC00519397  2010-01-04  0.000000    76
4  USC00519397  2010-01-06  0.160644    73

In [10]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

In [11]:
class Station(Base):
    __tablename__ = 'Stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
class Measurement(Base):
    __tablename__ = 'Measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)

In [12]:
engine = create_engine('sqlite:///hawaii.db')
conn = engine.connect()
Base.metadata.create_all(conn)
session = Session(bind=engine)

In [13]:
stations_df.to_sql('Stations',conn,if_exists = 'append',index = False)

In [14]:
measurements_df.to_sql('Measurements',conn,if_exists = 'append',index = False)

In [15]:
session.commit()

In [16]:
conn.close()